@font-face {
  font-family: 'HussarBoldWeb';
  src: url('/fonts/HussarBoldWeb.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  -webkit-font-variant-ligatures: no-common-ligatures;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-feature-settings: "kern" 1, "liga" 0;
  font-feature-settings: "kern" 1, "liga" 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}