$color-primary: #49240F;
$color-secondary: #E4A79D;
$color-placeholder: #9E9E9E;
$color-action: #945E00;
$color-label: rgba(0,0,0,.5);
$color-border: #e5e5e5;



$color-border-focus: #0f75f13d;
$component-shadow: 0 0 16px -8px rgba(0, 0, 0, .5);
$component-shadow-focus: 0 0 16px -8px #0f75f1;